<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
	  <div class="row">
		<div class="col-sm-4">
			
		  <p>&copy 2019 CELL, a research group in <a href="https://liberalarts.mfu.ac.th">School of Liberal Arts</a>, <a href="https://en.mfu.ac.th/home.html">Mae Fah Luang University</a>.</p>       
		   <p>  </p>           		  
            
		</div>
		<div class="col-sm-4">
		  Email:<br /> 
		  <a href="mailto:{{ site.email }}">{{ site.email }}</a><br />
    		</div>
		<div class="col-sm-4">
		  Location:<br />
		  Mae Fah Luang University<br />
		  333 Moo 1, Tha Suea,<br />
		  Mueang Chiang Rai,<br /> 
		  57100 Thailand<br />
            (<a href="https://goo.gl/maps/FrryPH8cvUm">Maps</a>, <a href="https://en.mfu.ac.th/life-on-campus/map/mfu-campus.html">Directions</a>)
		</div>
	  </div>
	</div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
